body {
    background-color: #020a13;
}

.border-custom {
    border-right: 1px #ffffff solid ;
}

.calculator-content {
  width: 75%;
}

.btn-outline-primary {
    color: #35dd89;
    border-color: #35dd89;
}
.btn-outline-primary:hover {
    background-color: #35dd89;
    color: #eeeeee;
    border-color: #35dd89;
}
.btn-outline-secondary {
    color: #dd7835;
    border-color: #dd7835;
}
.btn-outline-secondary:hover {
    background-color: #dd7835;
    color: #eeeeee;
    border-color: #dd7835;
}


a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #419aff;
}

input[type='text']::placeholder{
    text-transform: initial;
}



/* Media query for tablets and larger mobile screens */
@media screen and (max-width: 912px) {
    body{
        margin: auto;
    }
    
    .btn-outline-primary {
        margin: 14px;
    }
    
    .btn-outline-secondary {
        margin: 14px;
    }

    .border-custom {
        border: none;
    }
    
    
}

/* Media query for smaller mobile screens */
@media screen and (max-width: 480px) {
    body{
        margin: auto;
    }
    
    .btn-outline-primary {
        margin: 10px;
    }
    
    .btn-outline-secondary {
        margin: 10px;
    }
    
    .w-50, .w-75 {
        width: 100% !important;
    }
    
    .border-custom {
        border: none;
    }

}