body {
    background-color: #020a13;
}

.border-custom {
    border-right: 1px #ffffff solid ;
}

.calculator-content {
  width: 75%;
}

.btn-outline-primary {
    color: #35dd89;
    border-color: #35dd89;
}
.btn-outline-primary:hover {
    background-color: #35dd89;
    color: #eeeeee;
    border-color: #35dd89;
}

.btn-plus-found {
    color: #3578dd;
    border-color: #3578dd;
}
.btn-plus-found:hover {
    background-color: #3578dd;
    color: #eeeeee;
    border-color: #3578dd;
}

.btn-danger-custom {
    color: #DC3545;
    border-color: #DC3545;
}
.btn-danger-custom:hover {
    background-color: #DC3545;
    color: #eeeeee;
    border-color: #DC3545;
}

.btn-outline-secondary {
    color: #dd7835;
    border-color: #dd7835;
}
.btn-outline-secondary:hover {
    background-color: #dd7835;
    color: #eeeeee;
    border-color: #dd7835;
}

.p-conf {
    color: #b8b8b8;
    font-size: 18px;
}

.p-footer {
    color: #b8b8b8;
    font-size: 12px;
    font-style: italic;
}

.navbar-color {
    background-color: #eeeeee;
}

.navbar-title {
    text-transform: initial;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #419aff;
}

input[type='text']::placeholder{
    text-transform: initial;
}



/* Media query for tablets and larger mobile screens */
@media screen and (max-width: 1165px) {
    body{
        margin: auto;
    }

    .btn-outline-primary {
        margin: 14px;
    }

    .btn-outline-secondary {
        margin: 14px;
    }

    .btn-plus {
        flex: 0 0 auto;
        width: 50%;
    }

    .border-custom {
        border: none;
    }

    .response-row {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

}

/* Media query for smaller mobile screens */
@media screen and (max-width: 480px) {
    body{
        margin: auto;
    }

    .btn-outline-primary {
        margin: 10px;
    }

    .btn-outline-secondary {
        margin: 10px;
    }

    .btn-plus {
        flex: 0 0 auto;
        width: 50%;
    }

    .w-50, .w-75 {
        width: 100% !important;
    }

    .border-custom {
        border: none;
    }

}
