html{
    display: flex;
    flex-flow: row nowrap;  
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #020a13;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(238, 238, 238);
    margin: 0;
}

h1, h2 {
    text-align: center;
}

form {
    display: grid;
    place-content: center;
}

img {
    max-width: 100%;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.codigo-label {
    margin: 0;
    display: grid;
    font-weight: bold;
    text-align: center;   
}

.escolhas{
    display: flex;
    align-items: flex-end;
}

.escolha {
    font-weight: bold;
    line-height: 1.1;
    flex: 1 0 auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.escolha:focus-within {
    color: #337999;
}

.btn {
    display: inline-block;
}

.alert {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
}

.alertText {
    display: table;
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
}
  
.closeBtn {
    float: right;
    margin-left: 18px;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.warning {
    background-color: #FDF7DF;
    border: 1px solid #FEEC6F;
    color: #a37c19;
}

.error {
    background-color: #FEE;
    border: 1px solid #EDD;
    color: #A66;
}

input[type="number"] {

    background-color: rgb(221, 221, 221);
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}

input[type="radio"]{
    display: none;
}

input[type="text"] {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color:rgb(2, 10, 19);
    margin: 0 10px;
    font: inherit;
    color:  #a7d7ff;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #337999;
    background-color: CanvasText;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}
  
input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 20px;
}

th {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #661ec5;

} 

td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

button {
    width: 130px;
    height: 35px;
    background-color: transparent;
    color: rgb(221, 120, 53);
    cursor: pointer;
    margin: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 120, 53);
    border-image: initial;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(221, 120, 53);
    color: rgb(238, 238, 238);
}

#codigo {
    text-transform: uppercase;
    margin-top: 15px;
}

#codigo::placeholder{
    text-transform: initial;
}

#btnReset {
    width: 130px;
    height: 35px;
    background-color: transparent;
    color: rgb(53, 221, 137);
    cursor: pointer;
    margin: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(53, 221, 137);
    border-image: initial;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

#btnReset:hover {
    background-color: rgb(53, 221, 137);
    color: rgb(238, 238, 238);
}




/* Media query for tablets and larger mobile screens */
@media screen and (max-width: 912px) {
    body {
        font-size: 12px;
        margin: 35px 0;
    }
    button, #btnReset {
        margin: 14px;
    }
    table {
      font-size: 12px;
    }
    
    table th, table td {
      padding: 4px; 
    }

    .alert {
        width: auto;
        margin: 0 120px;
    }

}

/* Media query for smaller mobile screens */
@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
        margin: auto;
        line-height: 1.25;
    }

    button, #btnReset {
        margin: 10px;
    }
    
    table {
        border: 0;
        margin: 20px 0;
    }
    
    th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
    }
    
    tr {
        border-bottom: 3px solid #661ec5;
        display: block;
        margin-bottom: .625em;
    }
    
    td {
        border: none;
        display: block;
        font-size: 10px;
        text-align: right;
        background-color: #020d18;
    }
    
    td::before {
        content: attr(data-cell) ": ";
        float: left;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    td:last-child {
        border-bottom: 0;
    }
      
    .alert {
        width: auto;
        margin: 0 auto;
    }
    
}