<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de cotas FIIS</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- <link rel="icon" href="https://www.gstatic.com/images/icons/material/apps/fonts/1x/catalog/v5/favicon.svg"> -->
    
</head>
<body>
    <div class="container">
        <h1><i><img id="calculator" src="https://img.icons8.com/cotton/64/calculator--v2.png"/></i> Calculadora de cotas FIIS</h1>
        <form action="{{ url_for('index')}}" method="post">
            <label for="codigo">Código do Fundo:</label>
            <input type="text" id="codigo" name="codigo" required><br><br>
            <label for="quantidade">Quantidade de Cotas:</label>
            <input type="number" id="quantidade" name="quantidade" required><br><br>
            <button type="submit" id="btnCalcular">Calcular</button>
            <button type="reset" id="btnReset" onclick="window.location.href='/'">Limpar</button>
        </form>
        
        {% if codigo %}
            <table>
                <tr>
                    <th>Codigo Fundo</th>
                    <th>Quantidade</th>
                    <th>Valor por Cota</th>
                    <th>Valor a ser investido</th>
                    <th>Retorno de dividendos ( Baseado no ultimo pagamento )</th>
                    <th>Valor a Investir ( Para receber R$1000/M)</th>
                </tr>
                <tr>
                    <td>{{ codigo }}</td>
                    <td>{{ cotas }}</td>
                    <td>{{ preco }}</td>
                    <td>R$ {{ investimento }}</td>
                    <td>R$ {{ dividendo }}</td>
                    <td>R$ {{ totalInvestir }}</td>

                </tr>
            </table>
        {% endif %}

    </div>
</body>

</html>
