<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora FIIs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='styles/icons8-prédio-96.png') }} ">
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <h1><i><img id="calculator" src="https://img.icons8.com/cotton/64/calculator--v2.png" /></i> Calculadora de
            Rendimentos FIIs</h1>
        <form action="{{ url_for('calc')}}" method="post">
            <label for="codigo">Código do Fundo:</label>
            <input type="text" id="codigo" name="codigo" placeholder="Separar por vírgula" multiple><br><br>
            <label for="quantidade">Quantidade de Cotas:</label>
            <input type="number" id="quantidade" name="quantidade" required><br><br>
            <button type="submit" id="btnCalcular">Calcular</button>
            <button type="reset" id="btnReset" onclick="window.location.href='/calculadora'">Limpar</button>
        </form>

        {% with message = get_flashed_messages(category_filter=["warning"]) %}
            {% if message %}
                <div id="alert">
                    <ul>
                        {% for msg in message: %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        {% if data %}
        <table>
            <tr>
                <th>Codigo Fundo</th>
                <th>Quantidade de cotas</th>
                <th>Valor por cota</th>
                <th>Valor a ser investido</th>
                <th>Retorno de dividendos ( Baseado no ultimo pagamento )</th>
                <th>Valor a Investir ( Para receber R$1000/M)</th>
            </tr>
            {% for row in data: %}
            <tr>
                <td>{{ row['fundo'] }}</td>
                <td>{{ row['cotas'] }}</td>
                <td>R$ {{ "{:,.2f}".format(row['preco']) }}</td>
                <td>R$ {{ "{:,.2f}".format(row['investimento']) }}</td>
                <td>R$ {{ "{:,.2f}".format(row['dividendo']) }}</td>
                <td>R$ {{ "{:,.2f}".format(row['totalInvestir']) }}</td>

            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <th id="total" colspan="3">Total :</th>
                    <td>R$ {{ "{:,.2f}".format(total_investido) }}</td>
                    <td>R$ {{ "{:,.2f}".format(total_dividendos) }}</td>
                    <td>R$ {{ "{:,.2f}".format(total_investir) }}</td>
                </tr>
            </tfoot>
        </table>
        {% endif %}

    </div>
</body>

</html>