<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora FIIs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='styles/icons8-prédio-96.png') }} ">
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

</head>

<body>
    <i><img id="calculator_img" src="https://img.icons8.com/cotton/64/calculator--v2.png" /></i>
    <h1> Calculadora de Rendimentos FIIs</h1>

    <div class="container">
        <form action="{{ url_for('calc')}}" method="post">
            
            <label class="codigo-label">
                Código do Fundo
                <input type="text" id="codigo" name="codigo" placeholder="Separar por vírgula" multiple required><br><br>
            </label>
            
            <div class="escolhas">
                <label class="escolha">
                    <input type="radio" id="cotas" value="cotas" name="radio" required>
                    Cota
                </label>
                
                <label class="escolha">
                    <input type="radio" id="dinheiro"  value="dinheiro" name="radio" required>
                    Dinheiro
                </label>
            </div>
                
            <input type="number" id="valor" name="valor"  placeholder="0" step="0.01" required><br><br>

            <div class="btn">
                <button type="submit" id="btnCalcular">Calcular</button>
                <button type="reset" id="btnReset" onclick="window.location.href='/calculadora'">Limpar</button>
            </div>
        </form>

        {% with message = get_flashed_messages(category_filter=["warning"]) %}
            {% if message %}
                <div id="alert">
                    <ul>
                        {% for msg in message: %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        
        {% if data %}
        <hr>
        <h2> Resultado </h2>
        <table>
            <tr>
                <th>Código Fundo</th>
                <th>N Cotas</th>
                <th>Preço</th>
                <th>Valor a investir</th>
                <th>Dividendos</th>
                <th>Investimento R$1000/m</th>
                <th>Total de cotas R$1000/m</th>
            </tr>
            {% for row in data['result']: %}
                <tr>
                    <td data-cell="Código Fundo" >{{ row['fundo'] }}</td>
                    <td data-cell="N Cotas" >{{ "{:,.2f}".format(row['cotas']) }}</td>
                    <td data-cell="Preço" >R$ {{ "{:,.2f}".format(row['preco']) }}</td>
                    <td data-cell="Valor a Investir" >R$ {{ "{:,.2f}".format(row['investimento']) }}</td>
                    <td data-cell="Dividendos" >R$ {{ "{:,.2f}".format(row['dividendo']) }}</td>
                    <td data-cell="Investimento R$1000/m" >R$ {{ "{:,.2f}".format(row['totalInvestir']) }}</td>
                    <td data-cell="Cotas R$1000/m" >{{ "{:,.2f}".format(row['totalCotas']) }}</td>
                    
                </tr>
            {% endfor %}
            {% if data|length > 1 %}
                <tfoot>
                    <tr>
                        <th id="total" colspan="3" data-cell="Totais">Total</th>
                        <td data-cell="Total a investir">R$ {{ "{:,.2f}".format(data['summary']['total_investido']) }}</td>
                        <td data-cell="Total de dividendos">R$ {{ "{:,.2f}".format(data['summary']['total_dividendo']) }}</td>
                        <td data-cell="Total investido R$1000/m">R$ {{ "{:,.2f}".format(data['summary']['total_investir']) }}</td>
                        <td data-cell="Total de cotas R$1000/m">{{ "{:,.2f}".format(data['summary']['total_cotas'])  }}</td>
                        </tr>
                    </tfoot>
            {% endif %}
        </table>
        {% endif %}

    </div>
</body>

</html>